extends ../layout

block content
    h1.
        Infophoto #{bike._id}
    p Name: #{bike.name}
    p Price: #{bike.price}
    p Description: #{bike.description}
    p DOB: #{bikedob}
    p Is Sold: #{bike.issold}